html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 60px 0 60px;
  background-color: transparent;
  justify-content: space-between;
  width: 90%;
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: #B8E8FC;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;

    &:hover {
      color: #fff;
    }
  }

  .login {
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #000;

    img {
      width: 50px;

    }
  }

  section {
    button {
      margin: 0 20px 0 20px;
    }
  }
}

.search {
  background-color: #B8E8FC;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    height: 500px;
    margin-left: -750px;
    margin-top: 250px;
  }

  .search-vehicle-form {
    width: 60%;
    height: 5vh;
    background-color: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;

    .date {
      padding: 1em 1.3em;
      border: none;
      outline: none;
      width: 30%;
      font-size: 17px;
      font-family: 'Lato', sans-serif;
      font-family: 'Poppins', sans-serif;
    }

    span {
      margin-right: 10px;
      margin-top: 5px;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    .search-vehicle-input {
      height: 100%;
      outline: none;
      width: 100%;
      border: none;
      font-size: 16px;
    }

    .search-vehicle-button {
      height: 100%;
      border: none;
      background-color: #000;
      color: #fff;
      width: 60px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(236, 232, 232);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.car {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 3em;
  max-width: 890px;

  .header {
    font-size: 12px;
    padding-left: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;

    .v_image-and-info {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      align-items: center;
      margin: 1em;

      .v_image {
        width: 200px;
      }

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 7px;

        li {
          font-size: 13px;
        }
      }
    }

    .rightbar {
      // border: 1px solid blue;
      
      .rightbar-top {
        // border: 1px solid palegreen;
        display: flex;
        flex-direction: column;
        width: 600px;
        font-size: 13px;

        .deposit {
          display: flex;
          justify-content: space-between;
          padding-right: 15px;
        }
      }

      .rightbar-mid {
        display: flex;
        justify-content: flex-end;
        button {
          cursor: pointer;
          padding: 1em 1.9em;
          border: none;
          background-color: #B8E8FC;
          font-weight: 700;
        }
      }

      .rightbar-footer {
        display: flex;
        height: 120px;
        align-items: flex-end;
        // border: 1px solid salmon;
        .plane {
          display: flex;
          margin-bottom: 15px;
          margin-right: 10px;
        }
        .rating {
          font-size: 19px;
          background-color: #f1f2ff;
          border-radius: 5px;
          width: fit-content;
          padding: 0.67em;
          display: block;
          margin-bottom: 0;
        }
        .rating-popup {
          background-color: gray;
          padding: 0.5em 1em;
          color: #fff;
          display: flex;
          flex-direction: column;
          width: fit-content;
          display: none;
          border-radius: 5px;
          margin-bottom: 50px;
          margin-left: 5px;
          span {
            display: block;
          }
        }
        .active {
          display: block;
        }
      }
    }

  }

  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;

    }

    .price {
      display: flex;
      font-size: 29px;
      font-weight: 700;
      letter-spacing: 2px;
      align-items: center;
      padding-right: 15px;
      // border: 1px solid greenyellow;
      span {
        margin-top: 5px;
        margin-right: 10px;
        font-size: 13px;
        color: gray;
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }
}

.car:hover {
  border: none;
  box-shadow: 0 0px 9px 2px rgba(0, 0, 0, 0.242);
  transition: 0.2s;
}

.offers {
  width: 100%;
  height: 60vh;
  background-color: #41a391;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 400px;
  height: 100vh;
  background-color: #fff;
}